<%= form_with model: @home, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "物件名" %><br />
    <%= f.text_field :title, id:"home_title" %>
  </div>

  <div class="field">
    <%= f.label :address_id, "建設地" %><br />
    <%= render 'addresses/address_select', form: f %>
  </div>

  <div class="field">
    <%= f.label :supervisor_id, "現場管理者" %><br />
    <%= render 'supervisors/supervisor_select', form: f %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する", class: :form__btn  %>
  </div>
<% end %>