<%= link_to home_path(home.id), class: 'card__body' do %>
  <div class="card">
    <div class="card__body">
      <div class="card__title">
        <%= image_tag("home.png", alt: "Home Image", class: "home-image") %>
        <%= "#{home.title}" %>
      </div>
      <p class="card__summary">
      <p>現場担当: <%= home.supervisor&.supervisor || "未設定" %></p>
      <p>建設地　: <%= home.address&.address || "未設定" %></p>
    </div>
  </div>
<% end %>
