<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      
      <p class="prototype__hedding">
        <%= @home.title %>
      </p>

      <div class="home__category-wrapper">
        <p>現場担当： <%= @home.supervisor&.supervisor || "未設定" %></p>
        <p>建設地： <%= @home.address&.address || "未設定" %></p>
      </div><br>

      <p class="status_display">
        <%= user_signed_in? ? "#{current_user.nickname}さん" : "ゲストさん！「ログイン」もしくは「ユーザー登録」をすると、入退場出来ます。" %>
      </p>

      <%# 以下、入退場機能 %>
      <% if user_signed_in? %>
        <div class="status">
          <% user_home = UserHome.find_by(user: current_user, home: @home) %>
          <p id="status" class="status_display">
            あなたの現在の状況：
            <span class="<%= user_home&.status == '入場中' ? 'status-entry' : 'status-exit' %>" style="font-size: 1.5em;">
              <%= user_home&.status || "退場中" %>
            </span>
          </p>


          <div class="status_btn">
            <%= button_to '入場する', update_status_home_path(@home, status: '入場中'), method: :patch, class: 'entryexit_btn' %>
            <%= button_to '退場する', update_status_home_path(@home, status: '退場中'), method: :patch, class: 'entryexit_btn' %>
          </div>
        </div>
      <% end %>

      <!-- 現在入場中のユーザーの表示 -->
      <div class="entry_users">
        <p class="entry_head">本日の入場者</p>
        <ul>
          <% @users_in_home.each do |user_home| %>
            <% if user_home.entry_time.present? %> <!-- entry_timeが存在する場合のみ表示 -->
              <li>
                <%= user_home.user.nickname %> さん
                <span>[入: <%= user_home.entry_time&.strftime("%H:%M") %>]</span>
                <% if user_home.exit_time.present? %> 
                  <span>[退: <%= user_home.exit_time.strftime("%H:%M") %>]</span>
                <% else %>
                  <span>[退: ---]</span> <!-- 退場時刻がない場合は「---」を表示 -->
                <% end %>
              </li>
            <% end %> <!-- entry_timeがない場合は表示しない -->
          <% end %>
        </ul>
      </div>

      <%= link_to '物件一覧へ戻る', homes_path, class: 'back-to-index-btn' %>

      <% if user_signed_in? %>
        <div class="prototype__manage">
          <%= link_to "物件編集", edit_home_path(@home.id), class: :home__btn %>
          <%= link_to "物件削除", home_path(@home.id), data: { turbo_method: :delete }, class: :home__btn %>
        </div>
      <% end %>

    </div>
  </div>
</main>
