<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      
      <p class="prototype__hedding">
        <%= @home.title %>
      </p>

      <div class="home__category-wrapper">
        <p>現場担当： <%= @home.supervisor&.supervisor || "未設定" %></p>
        <p>建設地： <%= @home.address&.address || "未設定" %></p>
      </div>

      <% if user_signed_in? && current_user.id == @home.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_home_path(@home.id), class: :home__btn %>
          <%= link_to "削除する", home_path(@home.id), data: { turbo_method: :delete }, class: :home__btn %>
        </div>
      <% end %>


      <div class="prototype__comments">

        <%# 以下、入退場機能 %>

      </div>
    </div>
  </div>
</main>
